.tabs{
    display: flex;
    min-width: 45%;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 30px;
}

.tabs_element{
    line-height: 22px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    padding-bottom: 10px;
    background-color: white;
}

.activ_tabs{
    color: #1890FF;
    border-bottom: 3px #1890FF solid;
}