.pagination{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-select-single{
    display: none;
}

@media (max-width: 420px) {
    .pagination{
        width: 99%;
    }
}